* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional but useful for consistent layouts */
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
}a:hover{
    color: grey;
    text-decoration: underline;
}
html, body{
    height: 100%;
}
.Body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: url("/assets/brick.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    flex: 1;
}
.NavigationBar{
    display: flex;
    background-image: url("assets/mantel1.png");
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 3px solid black; /* Add a 2px solid black border to the bottom */
}
.LeftBodyChild{
    border: 5px black;
    justify-content: left;
    text-align: left;
    padding: 10px;
}
.RightBodyChild{
    border: 5px black;
    justify-content: right;
    text-align: right;
    padding: 10px;
}
img {
    width: 30%;
    max-width: 100%;   /* Ensures images resize to fit their container */
    height: auto;      /* Keeps the aspect ratio of images */
    padding: 2% 5%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}
.Text{
    border: 10px black;
}
